SturdyMachine/Library/
SturdyMachine/Temp/
SturdyMachine/obj/
SturdyMachine/Logs/
*.csproj
SturdyMachine/SturdyMachine.sln
SturdyMachine/.vs/
Build/
*.csv#
*.ods#
Output/
Builds/
SturdyMachine/UserSettings/Layouts/default-2022.dwlt
SturdyMachine/ProjectSettings/EditorBuildSettings.asset
