SturdyMachine/Library/
SturdyMachine/Temp/
SturdyMachine/obj/
SturdyMachine/Logs/
SturdyMachine/SturdyMachine.sln
SturdyMachine/.vs/
SturdyMachine/UserSettings/Layouts/default-2022.dwlt
SturdyMachine/ProjectSettings/EditorBuildSettings.asset
SturdyMachine/Assets/HotReload/
SturdyMachine/Packages/com.singularitygroup.hotreload
*.csproj
Build/
*.csv#
*.ods#
Output/
Builds/
SturdyMachine/Packages/packages-lock.json